<div class="container group {{model.group.name}}">

  <div class='clear'></div>

  <div class="categories-and-latest">
    <div class='column categories'>
      {{categories-only categories=model.categories displayGroupPictures=displayGroupPictures}}
    </div>

    <div class='column'>
      {{#if model.topics.watching}}
        <div class="container" style="margin-bottom: 15px">
          {{categories-topic-list topics=model.topics.watching filter="watching" linkToAll=isGroupCategoriesRoute class="latest-topic-list"}}
        </div>
      {{/if}}

      <div class="container">
        {{categories-topic-list topics=model.topics.latest filter="latest" linkToAll=isGroupCategoriesRoute class="latest-topic-list"}}
      </div>
    </div>
  </div>
</div>
