  <div class="list-controls">
    <div class="container">
      {{group-categories-navigation group=model currentPath=application.currentPath tabs=icijTabs}}

      {{gc-navigation
        canCreateTopic=canCreateTopic
        createTopic=(route-action "createTopic")
        createTopicDisabled=cannotCreateTopicOnCategory
        hasDraft=draft
        editCategory=(route-action "editCategory" category)}}
    </div>
  </div>

<div class='clear'></div>

<div class="categories-and-latest">
  <div class='column categories'>
    {{categories-only categories=model.categories}}
  </div>

  <div class='column'>
    {{categories-topic-list topics=model.topics filter="latest" class="latest-topic-list"}}
  </div>
</div>
