<div class="container group {{model.group.name}}">

  <div class='clear'></div>

  <div class="categories-and-latest">
    <div class='column categories'>
      {{categories-only categories=model.categories displayGroupPictures=displayGroupPictures}}
    </div>

    <div class='column'>
      {{#if displayWatching}}
        {{#if model.topics.watching}}
          <div class="container" style="margin-bottom: 15px">
            {{categories-topic-list watching=true topics=model.topics.watching filter="watching" linkToWatching=displayWatching isGroupCategoriesRoute=isGroupCategoriesRoute class="latest-topic-list"}}
          </div>
        {{/if}}
      {{/if}}

      <div class="container">
        {{categories-topic-list topics=model.topics.latest filter="latest" linkToWatching=false isGroupCategoriesRoute=isGroupCategoriesRoute class="latest-topic-list"}}
      </div>
    </div>
  </div>
</div>
