<div class="container group {{model.group.name}}">

  <div class='clear'></div>

  <div class="categories-and-latest">
    <div class='column categories'>
      {{categories-only categories=model.categories}}
    </div>

    <div class='column'>
      {{categories-topic-list topics=model.topics filter="latest" linkToAll=isGroupCategoriesRoute class="latest-topic-list"}}
    </div>
  </div>
</div>
