<div class='column categories'>
  {{categories-only categories=categories displayGroupPictures=displayGroupPictures}}
</div>

<div class='column'>
  {{categories-topic-list topics=topics filter="latest" class="latest-topic-list"}}
</div>
