<section class='field'>
  <label>{{i18n 'category.logo'}}</label>
  {{image-uploader
    imageUrl=logoImageUrl
    onUploadDone=(action "logoUploadDone")
    onUploadDeleted=(action "logoUploadDeleted")
    type="category_logo"
    class="no-repeat contain-image"}}
</section>
