<label class="control-label">Prioritize viewing watched topics on project pages.</label>
<div class="controls">
  <label class="checkbox-label">
    {{input type="checkbox" checked=user.custom_fields.prioritize_watched_topics}}
    {{i18n "user.prioritize_watched_topics"}}
  </label>
</div>
